@import "../../../styles/variables";

blockquote {
  background-color: transparent;
  border-left: 0.25rem solid $primary;
  padding: 0.5rem 1rem;
  margin: 2rem;
}

ol {
  margin-top: 2rem;
}

h2 {
  color: $primary;
}

summary:focus {
  outline: transparent;
}

summary:hover {
  cursor: pointer;
}

.article-img {
  width: 50%;
}

@media only screen and (max-width : $breakpoint-normal) {
  .article-img {
    width: 100%;
  }
}
