@import "../../../styles/variables";

.search-wrapper {
  text-align: right;
}

.search-input {
  border: none;
  border-bottom: 1px solid $text;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: $text;
}

.search-input:focus {
  outline: transparent;
}
