/* Colors */
$primary: #FE4A49;
$primary-dark: #D03D3C;
$primary-light: #FE6A6A;

$secondary: #282830;
$secondary-dark: #212128;
$secondary-light: #4F4F55;

$text: #4a4a4a;

/* Sizes */
$navbar-height: 4rem;
$navbar-width: 16rem;

/* Breakpoints */
$breakpoint-small: 376px;
$breakpoint-medium: 768px;
$breakpoint-normal: 1224px;
$breakpoint-large: 1824px;
