@import './variables.scss';

html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: $background-light;
}

button::-moz-focus-inner {
  border: 0;
}

.darkTheme {
  color: $text-dark;
  background-color: $background-dark;

  .index-link {
    color: $text-dark;
  }

  .layout-title > span {
    color: $highlight-dark;
  }

  .icon {
    filter: invert(1);
  }

  .article-date {
    color: $text-dark;
  }

  .article-title {
    background: transparent;
  }

  .article-title > a {
    color: $highlight-dark;
  }

  .article-description {
    color: $text-dark;
  }

  .article-subtitle > span {
    color: $text-dark;
  }

  p > a,
  li > a,
  h1 > a {
    color: $highlight-dark;
  }

  p {
    font-weight: 250;
  }

  .prev-link,
  .next-link {
    color: $highlight-dark;
  }

  blockquote {
    color: $text-light;
    border-color: $highlight-dark;
  }
}
