$text-light: #282c34;
$text-dark: #f8f8f8;

$background-light: #f8f8f8;
$background-dark: #1a232d;

$icon-light: #282c34;
$icon-dark: #f8f8f8;

$highlight-light: #349268;
$highlight-dark: #41b883;

$code-background: rgb(52,146,104);

$default-font-weight: 400;
