@import "../styles/_global.scss";
@import "../styles/_variables.scss";

.layout {
  padding: 4rem 4rem 4rem calc(#{$navbar-width} + 4rem);
}

.layout > main {
  width: 100%;
}

@media only screen and (max-width : $breakpoint-medium) {
  .layout {
    padding: calc(#{$navbar-height} + 2.5rem) 2.5rem 2.5rem 2.5rem;
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .layout {
    padding: calc(#{$navbar-height} + 1rem) 1rem 1rem 1rem;
  }
}
