body {
  margin: 0;
  background-color: #020300;
  font-family: 'Merriweather Sans', sans-serif;
}

.layout {
  display: flex;
  padding-top: 300px;
  padding-bottom: 300px;
}

.layout > main {
  width: 100%;
}

.particles {
  z-index: -1;
  position: fixed;
}

@media only screen and (max-width : 768px) {
  .layout {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }
}
