@import "../../styles/variables";

.card {
  border-radius: 3px;
  background-color: $secondary;
  padding: 1rem;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-out;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.card:hover {
  background-color: $primary;
  cursor: pointer;
  transform: translateY(-0.2rem);
}

.card:last-child {
  justify-self: left;
}

.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  font-size: 1.5rem;
  color: white;
  margin: 0 0 0.5rem 0;
  font-weight: lighter;
}

.card-description {
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

.card-link > time {
  color: white;
}

@media only screen and (max-width : $breakpoint-normal) {
  .card {
    width: 100%;
    height: 250px;
    margin-right: 0;
  }
}

@media only screen and (max-width : $breakpoint-medium) {
  .card {
    width: 100%;
    height: 250px;
  }
}
